@import '../../styles/_variables.scss';

.presentation {
   position: relative;
   display: flex;
   align-items: center;

   .img-header {
      img {
         width: 100%;
         object-fit: cover;
         filter: brightness(70%);
      }
   }

   .text-header {
      position: absolute;
      color: $white-color;
      width: 100%;
      height: 100%;

      h2 {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         display: flex;
         flex-direction: column;
         font-size: 134px;
      }

      p {
         position: absolute;
         bottom: 10%; /* Adjust this value to your preference */
         filter: brightness(85%);
         max-width: 30%;
      }
   }
}
