@import './fonts.scss';

// Variable police//
$quicksand: 'Quicksand', sans-serif;
$perpetua: 'perpetuaregular', sans-serif;

//Variable couleur//
$black-color: #000000;
$grey-color: #707070;
$white-color: #ffffff;
$brown-color: #c2a68b;
