@font-face {
   font-family: 'perpetuaregular';
   src:
      url('../../public/fonts/per_____-webfont.woff2') format('woff2'),
      url('../../public/fonts/per_____-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url(https://db.onlinewebfonts.com/c/d461c89ddda0ee0e6493f1cc55e60d4e?family=Perpetua+Titling+MT+Light);
