@import '../../styles/_variables.scss';
@import '../../styles/_mixin.scss';

@keyframes rotate {
   from {
      transform: rotate(0deg); // Début de l'animation : aucune rotation
   }
   to {
      transform: rotate(
         360deg
      ); // Fin de l'animation : rotation complète (360 degrés)
   }
}
.page-under-construction {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   gap: 80px;
   margin: 120px 70px;
   color: $brown-color;

   h2 {
      font-size: 50px;
      font-weight: 700;
      text-align: center;
      font-family: $perpetualight;

      @include mobile() {
         font-size: 40px;
      }
   }

   p {
      font-size: 36px;
      text-align: center;
      display: flex;
      flex-direction: column;
      color: $grey-color;

      @include mobile() {
         font-size: 20px;
      }
   }

   a {
      color: $brown-color;
      text-decoration: none;
      text-decoration: underline $brown-color;
      font-size: 18px;
   }
}
