@import '../../../styles/_variables.scss';
@import '../../../styles/mixin';

.header {
   .header-fixed {
      position: fixed;
      top: 0.5px;
      width: 100%;
      height: 65px;
      display: flex;
      background-color: $white-color;
      z-index: 2;
      box-shadow: 0px 10px 20px rgba($black-color, 0.05);

      @include tablette() {
         height: 55px;
      }

      nav {
         margin-left: 15px;
         flex: 1;
         display: flex;
         justify-content: left;
         align-items: center;

         img {
            cursor: pointer;
            width: 30px;
            height: 24px;

            @include tablette() {
               width: 27px;
               height: 22px;
            }
         }
      }

      h1 {
         width: 70px;
         flex: 1;
         display: flex;
         justify-content: center;

         img {
            cursor: pointer;
            width: 70px;

            @include tablette() {
               width: 60px;
            }
         }
      }
      a {
         flex: 1;
         display: flex;
         justify-content: right;
         margin-right: 15px;

         .button {
            width: 120px;

            button {
               cursor: pointer;
               border: 1px solid $grey-color;
               background-color: $white-color;
               color: $grey-color;
               height: 34px;

               &:hover {
                  width: 80%;
               }
            }
         }
      }
   }
   .header-overlay {
      position: absolute;
      z-index: 4;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 70px;
      margin: 20px 0px;

      nav {
         margin-left: 47px;
         img {
            width: 30px;
            height: 24px;
            cursor: pointer;

            @include tablette() {
               width: 27px;
               height: 22px;
            }
         }
      }

      a {
         position: absolute;
         left: 50%; /* Centrer horizontalement */
         transform: translateX(-50%);

         img {
            width: 91px;
            cursor: pointer;

            @include tablette() {
               width: 70px;
            }
         }
      }
   }
}
