@import '../../../styles/_variables.scss';
@import '../../../styles/mixin';

.header {
   .header-fixed {
      max-width: 1920px;
      position: fixed;
      top: 0.5px;
      width: 100%;
      height: 65px;
      display: flex;
      background-color: $white-color;
      z-index: 2;
      box-shadow: 0px 10px 20px rgba($black-color, 0.05);

      @include tablette() {
         height: 55px;
      }

      @include mobile() {
         height: 40px;
      }

      .first-burger-menu {
         flex: 1;
         display: flex;
         justify-content: left;
         align-items: center;

         img {
            cursor: pointer;
            width: 30px;
            margin-left: 15px;
            transition: transform 0.3s ease;

            @include tablette() {
               width: 27px;
            }

            @include mobile() {
               width: 17px;
               margin-left: 20px;
            }
            &:hover {
               transform: scale(1.1);
            }
         }
      }

      h1 {
         width: 70px;
         flex: 1;
         display: flex;
         justify-content: center;

         img {
            cursor: pointer;
            width: 70px;

            @include tablette() {
               width: 60px;
            }

            @include mobile() {
               width: 40px;
            }
         }
      }
      a {
         flex: 1;
         display: flex;
         justify-content: right;

         @include mobile() {
            justify-content: center;
         }

         .button {
            width: 120px;
            margin-right: 15px;

            @include mobile() {
               margin-right: 0;
               width: auto;
            }

            button {
               cursor: pointer;
               border: 1px solid $grey-color;
               background-color: $white-color;
               color: $grey-color;
               height: 34px;

               @include mobile() {
                  border: none;
               }

               &:hover {
                  width: 80%;

                  @include mobile() {
                     width: 100%;
                  }
               }
            }
         }
      }
   }
   .header-overlay {
      position: absolute;
      z-index: 4;
      width: 100%;
      max-width: 1920px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 70px;
      margin: 20px 0px;

      .second-burger-menu {
         margin-left: 47px;
         img {
            width: 30px;
            height: 24px;
            cursor: pointer;

            @include tablette() {
               width: 27px;
               height: 22px;
            }

            @include mobile() {
               width: 22px;
            }
         }
      }

      a {
         position: absolute;
         left: 50%; /* Centrer horizontalement */
         transform: translateX(-50%);

         img {
            width: 91px;
            cursor: pointer;

            @include tablette() {
               width: 70px;
            }

            @include mobile() {
               width: 57px;
            }
         }
      }
   }
}
