@import '../../../styles/mixin';

.footer footer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 361px;

   @include tablette() {
      height: 200px;
   }

   @include mobile() {
      height: 66px;
      margin-top: 60px;
   }

   img {
      width: 217px;
      @include tablette() {
         width: 180px;
      }

      @include mobile() {
         width: 72px;
      }
   }
}
